.back_btn {
  width: 100px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid rgba(7, 7, 7, 0.315);
  border-radius: 5px;
  text-decoration: none;
  color: #ffffff;
  &:active {
    transform: scale(0.9);
  }
}
.retry {
  margin: 0 auto;
  width: 120px;
  background: #000;
  border-radius: 5px;
  padding: 5px;
  color: #ffffff;
  margin-bottom: 10px;
  cursor: pointer;
  &:active {
    transform: scale(0.9);
  }
}
